<footer>   
    <div class="container_12">
      
      <div class="grid_12">
      <div class="socials">
      <section id="facebook">
        <a href="{{ variables:Facebook }}" target="_blank"><span id="fackbook" class="tooltip" title="Link us on Facebook">f</span></a>
        </section>
        <section id="twitter">
        <a href="{{ variables:twitter }}" target="_blank"><span id="twitter-default" class="tooltip" title="Follow us on Twitter">t</span></a>
        </section>      
        <section id="google">
        <a href="{{ variables:google }}" target="_blank"><span id="google-default" class="tooltip" title="Follow us on Google Plus">g<span>+</span></span></a>
        </section>        
         
        </div>
        <div class="copy">
        {{ variables:copyright }}  <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.desarrollowebcrm.com/" rel="nofollow">Cristian Rocha  </a>
        </div>
         
      </div>
    </div>  
</footer>

{{ theme:js file="classie.js" }}
{{ theme:js file="thumbnailGridEffects.js" }}
    

</body>
</html>
