<div class="container_12">
    <div class="grid_12 center">
      <h3>Libros recomendados</h3>
      <section class="tt-grid-wrapper">
        <ul class="tt-grid tt-effect-stackback tt-effect-delay">
          
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/51Cioob8YSL._AA160_.jpg" alt="img01"></a></li>
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/41NGCfAT9pL._AA160_.jpg" alt="img02"></a></li>
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/514l1jAOPSL._AA160_.jpg" alt="img03"></a></li>
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/51AzIUNUB0L._AA160_.jpg" alt="img04"></a></li>
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/51JNWtuLx1L._AA160_.jpg" alt="img05"></a></li>
          <li><a href="#"><img src="http://ecx.images-amazon.com/images/I/51z-iFE7dNL._AA160_.jpg" alt="img06"></a></li>
          
        </ul>
        <nav>
          <a class="tt-current"></a><a></a><a></a><a></a>
        </nav>
      </section>
      <div class="clear"></div>
      <div class="alright">
      <a href="#" class="btn">More</a>
      </div>
    </div>
  </div>
<div class="hor"></div>
  <div class="container_12">
        </div>